//
//  Environment_DEV.xcconfig
//  Application
//
//  Created by Irving Huang on 2023/1/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

Environment = DEV

APP_BUNDLE_IDENTIFIER = com.irvinghuang.TMDBViewer.DEV

APP_DISPLAY_NAME = 開發版_TV

ACCESS_TOKEN = YOUR_TOKEN

